@import '../../sass/global.scss';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 13rem;
  align-items: center;

  @include respond(tablet) {
    flex-direction: column;
    gap: 6.3rem;
  }

  &__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacer-xxl);

    @include respond(tablet) {
      order: 1;
      width: 80%;
      text-align: center;
    }
    @include respond(phone) {
      width: 100%;
    }
  }

  &__right {
    flex: 1;
    border-radius: 0.8rem;
    overflow: hidden;

    @include respond(tablet) {
      width: 100%;
    }
  }
}
