.container {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.link {
  text-decoration: none;
  margin-top: 7.9rem;
  width: 80%;
  max-width: 120rem;
}
