:root {
  /* COLORS*/
  --color-primary: #d87d4a;
  --color-secondary: #fbaf85;
  --color-white: #fff;
  --color-white-darkened: #fafafa;
  --color-black: #000;
  --color-black-lightened: #101010;
  --color-black-medium: #141414;
  --color-black-dark: #121212;
  --color-gray-light: #f1f1f1;
  --color-gray-medium: #979797;
  --color-red: #cd2c2c;

  /* BORDERS */
  --border-gray: 0.1rem solid var(--color-gray-light);
  --border-primary: 0.1rem solid var(--color-primary);
  --border-alert: 0.1rem solid var(--color-red);

  /* BORDER RADIUS */
  --border-radius-small: 0.2rem;
  --border-radius-medium: 0.5rem;
  --border-radius-large: 0.8rem; //pan

  /* TYPOGRAPHY */
  --font-size-xsmall: 1.3rem;
  --font-size-small: 1.4rem;
  --font-size-text: 1.5rem;
  --font-size-base: 1.8rem;
  --font-size-medium: 2.4rem;
  --font-size-regular: 2.8rem;
  --font-size-large: 3.2rem;
  --font-size-xlarge: 4rem;
  --font-size-largest: 5.6rem;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-family: 'Manrope', sans-serif;
  --line-height-base: 1.5;
  --line-height-medium: 1.7;
  --line-height-big: 2;
  --letter-spacing-xxsmall: 0.5px;
  --letter-spacing-xsmall: 0.75px;
  --letter-spacing-small: 0.13rem;
  --letter-spacing-medium: 0.15rem;
  --letter-spacing-large: 0.17rem;
  --letter-spacing-xlarge: 0.2rem;
  --letter-spacing-xxlarge: 1rem;

  /* SPACERS */
  --spacer-xxs: 0.1rem;
  --spacer-xs: 0.2rem; //pan
  --spacer-s: 1.2rem;
  --spacer-m: 1.6rem; // pan
  --spacer-l: 2rem;
  --spacer-xl: 2.4rem; //pan
  --spacer-xxl: 3.2rem; // pan
  --spacer-xxxl: 4.8rem; // pan
  --spacer-xxxxl: 5.6rem; //pan
  --spacer-xxxxxl: 7rem; //pan
  --spacer-xxxxxxl: 8rem;
}
