@import '../../sass/global.scss';

.container {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16rem;
  margin-bottom: 4rem;

  @include respond(tablet) {
    gap: 12rem;
    margin-top: var(--spacer-xl);
  }

  @include respond(phone) {
    margin-bottom: 0;
  }
}

.wrapper {
  display: flex;
  gap: 13rem;
  justify-content: space-between;
  align-items: center;

  @include respond(tablet) {
    flex-direction: column;
    gap: 5.2rem;
  }
}

.image {
  flex: 1;
  width: max-content;
  max-width: 54rem;
  border-radius: 0.8rem;
  background-color: var(--color-gray-light);
  overflow: hidden;

  @include respond(tablet) {
    max-width: 100%;
  }
}

.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacer-m);

  & > h3 {
    margin-bottom: var(--spacer-m);
  }

  @include respond(tablet) {
    text-align: center;
    align-items: center;
    width: 80%;
  }

  @include respond(phone) {
    width: 100%;
  }
}

.link {
  margin-top: var(--spacer-xxl);

  @include respond(phone) {
    margin-top: 0;
  }
}
