.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 73rem;
  background-color: var(--color-black-medium);
  position: relative;
  align-items: center;
}

.content {
  width: 80%;
  display: flex;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  max-width: 40rem;
}
