@import '../../sass/global.scss';

p {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-medium);

  @include respond(phone) {
    font-size: var(--font-size-small);
  }
}

.white {
  letter-spacing: var(--letter-spacing-xsmall);
  color: var(--color-white);
  opacity: 0.75;
}

.black {
  color: var(--color-black);
  opacity: 0.5;
}

.black--bold {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
  letter-spacing: var(--letter-spacing-small);
}

.bold--small {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
}

.bold--smallest {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
  opacity: 0.5;
}

.gray {
  color: var(--color-white);
  opacity: 0.5;
  letter-spacing: var(--letter-spacing-xxsmall);
}

.gray--bold {
  color: var(--color-white);
  opacity: 0.5;
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-xxsmall);
}
