p {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-medium);
  opacity: 0.75;
  line-height: var(--line-height-medium);
  letter-spacing: var(--letter-spacing-xsmall);
}

.white {
  color: var(--color-white);
}

.black {
  color: var(--color-black);
}
