@import '../../sass/global.scss';

.h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-largest);
  letter-spacing: var(--letter-spacing-xlarge);
  line-height: 1.05;

  @include respond(phone) {
    font-size: var(--font-size-large);
  }
}

.h2 {
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xlarge);
  letter-spacing: var(--letter-spacing-medium);

  @include respond(phone) {
    font-size: var(--font-size-large);
  }
}

.h3 {
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
  letter-spacing: 1.15px;

  @include respond(phone) {
    font-size: var(--font-size-regular);
  }
}

.h4 {
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-regular);
  letter-spacing: 2px;

  @include respond(phone) {
    font-size: var(--font-size-medium);
  }
}

.h5 {
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
  letter-spacing: var(--letter-spacing-large);

  @include respond(phone) {
    font-size: var(--font-size-base);
  }
}

.h6 {
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  letter-spacing: var(--letter-spacing-small);

  @include respond(phone) {
    font-size: var(--font-size-text);
  }
}

.p {
  text-transform: uppercase;
  font-size: var(--font-size-small);
  letter-spacing: var(--letter-spacing-xxlarge);

  @include respond(phone) {
    font-size: var(--font-size-small);
  }
}

.white {
  color: var(--color-white);
}

.orange {
  color: var(--color-primary);
}

.gray {
  color: var(--color-gray-medium);
  opacity: 0.5;
}

.black {
  color: var(--color-black);
}
