/* Resets default styling for list elements (<ul>, <ol>) */
@mixin reset-list-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Media queries for phone, tab, desktop */
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 43.75em) {
      @content;
    } //700px Phone
  }
  @if $breakpoint == tablet {
    @media only screen and (max-width: 64em) {
      @content;
    } //1024px Tablet
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 120em) {
      @content;
    } //1920px Normal desktop
  }
}

/* Visually hides */
@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
