@import '../../sass/global.scss';

.counter {
  display: flex;
  align-items: baseline;
  cursor: pointer;
  background-color: var(--color-gray-light);
  padding: var(--spacer-m) var(--spacer-l);
  gap: var(--spacer-xl);
  flex: 1;

  @include respond(phone) {
    padding: 0.9rem var(--spacer-s);
  }

  &__add,
  &__minus,
  &__number {
    font-size: var(--font-size-xsmall);
    font-weight: var(--font-weight-bold);
    color: var(--color-black);
    letter-spacing: var(--letter-spacing-medium);
  }

  &__add,
  &__minus {
    opacity: 0.25;

    &:hover {
      color: var(--color-primary);
      opacity: 1;
    }
  }
}
