@import '../../sass/global.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 9.6rem;
  background-color: var(--color-black-medium);
  z-index: 101;

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--color-gray-medium);
    padding: 3.3rem 0 3.6rem 0;
    width: 80%;
    max-width: 120rem;

    @include respond(tablet) {
      justify-content: flex-start;
      width: 90%;
      border-bottom: none;
    }

    @include respond(phone) {
      justify-content: space-between;
      width: 100%;
      padding: var(--spacer-xxl) var(--spacer-xl);
    }
  }
}

.logo {
  color: var(--color-white);
}
