@import '../../sass/global.scss';

.container {
  position: relative;
  z-index: 50;
  width: 80%;
  min-height: 9.6rem;
  border-bottom: 0.1rem solid var(--border-radius-medium);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(tablet) {
    justify-content: flex-start;
  }

  @include respond(phone) {
    justify-content: space-between;
  }
}

.logo {
  color: var(--color-white);
}
