@import '../../sass/global.scss';

.container {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 32rem;
  background-color: var(--color-gray-light);
  border-radius: var(--border-radius-large);
  border: none;
  overflow: hidden;
}

.custom-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: var(--color-primary);
  overflow: hidden;
  gap: 13rem;
  align-items: flex-end;

  @include respond(tablet) {
    flex-direction: column;
    align-items: center;
    gap: 6.4rem;
  }

  &__img {
    position: relative;
    flex: 1;
    bottom: 0;
    z-index: 55;
    transform: translateY(1.2rem);
    margin-left: 12rem;
    margin-top: 8%;

    @include respond(tablet) {
      max-height: 24rem;
      max-width: 20rem;
      margin: 5.2rem 0 0 0;
      transform: translateY(0);
    }
  }

  &__text {
    place-self: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--spacer-xl);
    z-index: 99;
    margin: 2rem 9.5rem 2rem 0;

    & > *:last-child {
      margin-top: var(--spacer-m);
    }

    @include respond(tablet) {
      margin: 0 0 6.4rem 0;
      text-align: center;
      max-width: 70%;
      align-items: center;
    }
  }

  &__pattern {
    position: absolute;
    z-index: 1;
    left: -13%;
    top: -5%;

    @include respond(tablet) {
      left: -2%;
      top: -45%;
    }
  }
}
