@import '../../sass/global.scss';

.container {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 32rem;
  background-color: var(--color-gray-light);
  border-radius: var(--border-radius-large);
  border: none;
  overflow: hidden;
}

.custom-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: var(--color-primary);
  overflow: hidden;
  gap: 13rem;
  align-items: flex-end;

  @include respond(tablet) {
    flex-direction: column;
    justify-content: center;
  }

  &__img {
    position: relative;
    flex: 1;
    bottom: 0;
    z-index: 55;
    transform: translateY(1.2rem);
    margin-left: 12rem;
    margin-top: 8%;
  }

  &__text {
    place-self: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--spacer-xl);
    z-index: 99;
    margin: 2rem 9.5rem 2rem 0;

    & > *:last-child {
      margin-top: var(--spacer-m);
    }
  }

  &__pattern {
    position: absolute;
    z-index: 1;
    left: -15rem;
    top: -3rem;
  }
}
