.container {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-white-darkened);
  min-height: 100vh;
  min-width: 100vw;
}
